@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:wght@400;500;600&display=swap');
@import "tailwindcss";


@theme {
  --font-header: 'Lobster', cursive;
}

/* Base font styles */
body {
  font-family: 'Open Sans', system-ui, sans-serif;
}

h1, h2, h3 {
  font-family: 'Lobster', cursive;
}

details > summary::-webkit-details-marker {
  display: none;
}
