---

---
<style>
	body {
		background: linear-gradient(215deg,hsla(255, 60%, 60%, .2),transparent 40%),radial-gradient(hsla(255, 60%, 60%, .2),transparent 40%) no-repeat -60vw -40vh / 105vw 200vh,radial-gradient(hsla(255, 60%, 60%, .2),transparent 65%) no-repeat 50% calc(100% + 20rem) / 60rem 30rem
	}
</style>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width" />
		<title>Melina Martins Portraits</title>
	</head>
	<body class="bg-zinc-950">
		<div class="flex items-center justify-center min-h-svh w-full">
			<h1 class="font-display text-6xl text-zinc-300">Melina Martins</h1>
		</div>
	</body>
</html>
